* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#game {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 75vh;
}

#gameboards-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 32px;
  padding: 24px;
}

.gameboard {
  display: grid;
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  aspect-ratio: 1 / 1;
}

.cell {
  border: 1px solid black;
}

#computer-gameboard .cell:hover {
  cursor: cell;
  background-color: red;
}

#ships-container {
  width: 30%;
  text-align: center;
}

.ships {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.ship {
  display: flex;
  cursor: move;
}

.ship[data-ship-orientation='horizontal'] {
  flex-direction: row;
}

.ship[data-ship-orientation='vertical'] {
  flex-direction: column;
}

.ship-cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.dragging-element {
  opacity: 0.5;
}

.hovered-cell {
  background-color: green;
}

.placed-ship {
  border: 2px dashed black;
  opacity: 0.5;
  cursor: no-drop;
}

.ship-cell-placed {
  border: 2px solid yellow;
  background-color: coral;
}

.hidden {
  display: none;
}
